.swiper-pagination {
  font-size: 0;
  .swiper-pagination-bullet-active {
    background-color: $paiRed;
  }
}

#bottomBtn {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  button {
    border: none;
    outline: none;
    background-color: $paiRed;
    height: 0.9rem;
    color: #fff;
    font-size: 0.3rem;
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
  .like {
    background-color: $paiYellow;
  }
}

#mainNav {
  position: fixed;
  border-top: 1px solid #ddd;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  .nav_wrap {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    button {
      border: none;
      outline: none;
      background-color: #fff;
      height: 0.98rem;
      color: #858585;
      font-size: 0rem;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      span {
        font-size: 0.24rem;
      }
      &.active {
        span {
          color: $paiRed;
        }
      }

      &.home {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_home_normal.png"));
        }
      }
      &.home.active {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_home.png"));
        }
      }
      &.grab {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_grab_normal.png"));
        }
      }
      &.grab.active {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_grab.png"));
        }
      }
      &.collection {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_hearts_normal.png"));
        }
      }
      &.collection.active {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_hearts.png"));
        }
      }
      &.order {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_list_normal.png"));
        }
      }
      &.order.active {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_list.png"));
        }
      }
      &.personal {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_user_normal.png"));
        }
      }
      &.personal.active {
        i {
          @include smallIcon(0.34rem,0.35rem,url("../imgs/icon_user.png"));
        }
      }
    }
  }
}

#registerWrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10001;
  .register {
    background-color: #fff;
    border-radius: 0.06rem;
    width: 6.48rem;
    position: absolute;
    left: 50%;
    margin-left: -3.24rem;
    margin-top: 3rem;
    padding: 0.45rem 0.4rem 0.68rem;
    font-size: 0;
    .verify_close {
      @include smallIcon(0.4rem,0.4rem,url("../imgs/close.png"));
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      display: none;
    }
    h3 {
      text-align: center;
      font-size: 0.36rem;
      font-weight: 500;
    }
    input {
      height: 0.7rem;
      line-height: 0.7rem;
      padding-left: 0.32rem;
      border: 1px solid #e8e8e8;
      border-radius: 0.04rem;
      font-size: 0.24rem;
    }
    button {
      background-color: $paiRed;
      color: #fff;
      border: none;
      outline: none;
    }
    #phoneNum {
      width: 100%;
      margin-top: 0.6rem;
    }
    .verify {
      margin-top: 0.3rem;
      #code {
        width: 60%;
      }
      button {
        border-radius: 0.1rem;
        line-height: 0.7rem;
        width: 35%;
        float: right;
      }
    }
    #regSubmit {
      line-height: 0.8rem;
      width: 100%;
      font-size: 0.3rem;
      border-radius: 0.04rem;
      margin-top: 0.75rem;
    }
  }
}

.loading {
  text-align: center;
  font-size: 0;
  border-top: 1px solid #f0f0f0;
  padding-top: 0.08rem;
  i {
    @include smallIcon(0.18rem,0.18rem,url("../imgs/loading.gif"));
    margin-right: 0.1rem;
  }
  span {
    font-size: 0.22rem;
    color: #858585;
  }
}

#fixedLink {
  .code_wrap {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    .code {
      width: 3.28rem;
      height: 3.28rem;
      position: absolute;
      left: 50%;
      margin-left: -1.64rem;
      -webkit-background-size: contain;
      background-size: contain;
      margin-top: 4rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    p {
      width: 100%;
      color: #fff;
      font-size: 0.26rem;
      position: absolute;
      text-align: center;
      margin-top: 7.5rem;
    }
  }
  .btn_wrap {
    font-size: 0;
    width: 0.72rem;
    height: 1.8rem;
    border-radius: 0.04rem;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 2rem;
    right: 0;
    padding: 0.24rem 0.144rem 0.144rem 0.144rem;
    z-index: 9997;
    .home {
       @include smallIcon(0.432rem,0.432rem,url("../imgs/home_white.png"));
     }
    .show_code {
      @include smallIcon(0.432rem,0.432rem,url("../imgs/qrcode.png"));
      margin-top: 0.432rem;
    }
  }
}