@import "_reset.scss";
@import "_common.scss";

#goodDetail {
  padding-bottom: 0.98rem;
  .swiper-container {
    width: 100%;
    height: 7.5rem;
    overflow: hidden;
    .swiper-slide {
      background: url("../imgs/placeholder.jpg") center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  #summary {
    padding: 0.24rem;
    border-bottom: 0.2rem solid #f0f0f0;
    .desc {
      font-size: 0.24rem;
      color: #2f2f2f;
    }
    .price_now {
      font-size: 0.3rem;
      color: $paiRed;
      margin-top: 0.06rem;
      .rate {
        float: right;
        font-size: 0.2rem;
        color: #858585;
        margin-top: 0.08rem;
      }

    }
    .relevant_price {
      font-size: 0.22rem;
      color: #2f2f2f;
      margin-top: 0.08rem;
      .primary {
        float: left;
        span {
          color:#858585;
        }
      }
      .market {
        float: right;
        span {
          color:#858585;
        }
      }
    }
    .relevant_count {
      margin-top: 0.08rem;
      font-size: 0.22rem;
      color: #2f2f2f;
      .store {
        float: left;
        span {
          color:#858585;
        }
      }
      .sold {
        float: right;
        span {
          color:#858585;
        }
      }
    }
  }

  #features {
    margin-top: 0.3rem;
    border-bottom: 0.2rem solid #f0f0f0;
    padding-bottom: 0.3rem;
    div {
      width: 25%;
      float: left;
      font-size: 0.24rem;
      color: #4b4b4b;
      text-align: center;
      i {
        @include smallBlock(0.32rem,0.32rem);
        vertical-align: middle;
      }
      &:nth-of-type(1) i {
        background: url("../imgs/guarantee.png") center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &:nth-of-type(2) i {
        background: url("../imgs/true.png") center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &:nth-of-type(3) i {
        background: url("../imgs/return.png") center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &:nth-of-type(4) i {
        background: url("../imgs/speed.png") center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      span {
        vertical-align: middle;
        margin-left: 0.08rem;
      }
    }
  }

  #action {
    width: 100%;
    position: fixed;
    bottom: 0;
    .action_wrap {
      display: flex;
      flex-wrap: nowrap;
      button {
        border: none;
        outline: none;
        background-color: $paiRed;
        height: 0.98rem;
        span {
          vertical-align: middle;
          color: #fff;
          font-size: 0.3rem;
        }
        i {
          vertical-align: middle;
          margin-right: 0.08rem;
        }
      }
      .chat {
        flex-grow: 164;
        order: 1;
        background-color: #fff;
        border-top: 1px solid #f0f0f0;
        i {
          @include smallBlock(0.57rem,0.56rem);
          background: url("../imgs/icon_online.png") center center no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
      .like {
        flex-grow: 293;
        order: 2;
        background-color: $paiYellow;
        i {
          @include smallBlock(0.36rem,0.36rem);
          background: url("../imgs/heart.png") center center no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
      .purchase {
        flex-grow: 293;
        order: 3;
        i {
          @include smallBlock(0.36rem,0.36rem);
          background: url("../imgs/icon_hammer.png") center center no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
    }
  }

  #production {
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid #f0f0f0;
    .sorts_sel {
      font-size: 0.3rem;
      color: #2f2f2f;
      border-bottom: 1px solid #f0f0f0;
      padding: 0.24rem;
      i {
        @include smallIcon(0.14rem,0.22rem,url("../imgs/icon_arrow.png"));
        float: right;
        margin-top: 0.12rem;
      }
    }
    .rule {
      h5 {
        font-size: 0.3rem;
        color: #2f2f2f;
        padding: 0.24rem;
        font-weight: 500;
      }
      .rule_content {
        display: flex;
        flex-wrap: nowrap;
        .single_rule {
          flex_grow: 1;
          padding: 0 0.12rem;
          h6 {
            font-weight: 500;
            font-size: 0;
            text-align: center;
            margin-bottom: 0.2rem;
            span {
              font-size: 0.24rem;
              vertical-align: middle;
            }
            i {
              margin-right: 0.1rem;
              vertical-align: middle;
              &.one {
                @include smallIcon(0.34rem,0.34rem,url("../imgs/rule_down.png"));
              }
              &.two {
                @include smallIcon(0.34rem,0.34rem,url("../imgs/rule_hummer.png"));
              }
              &.three {
                @include smallIcon(0.34rem,0.34rem,url("../imgs/rule_cycle.png"));
              }
            }
          }
          p {
            font-size: 0.18rem;
            text-align: justify;
          }
        }
      }
    }

  }

  #about {
    .nav {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid #f0f0f0;
      height: 0.84rem;
      .tab {
        flex-grow: 1;
        line-height: 0.84rem;
        height: 0.84rem;
        font-size: 0.28rem;
        text-align: center;
        &.current {
          border-bottom: 2px solid $paiRed;
          color: $paiRed;
        }
      }
    }
    .about_sorts {
      //padding: 0.1rem 0.24rem;
      .good_detail {
        img {
          width: 100%;
          display: block;
        }
      }
      .deal_record {
        display: none;
        .single_deal {
          border-bottom: 1px solid #f0f0f0;
          padding-bottom: 0.12rem;
          margin-bottom: 0.12rem;
          .deal_msg {
            font-size: 0;
            .name {
              font-size: 0.3rem;
            }
            .time {
              font-size: 0.2rem;
              float: right;
            }
          }
          .deal_detail {
            padding-right: 2rem;
            position: relative;
            font-size: 0.2rem;
            p {
              margin-top: 0.1rem;
            }
            .deal_price {
              font-size: 0.3rem;
              color: $paiRed;
              position: absolute;
              right: 0;
              top: 0.1rem;
            }
          }
        }

      }
      .evaluate_list {
        display: none;
        .single_evaluate {
          border-bottom: 1px solid #f0f0f0;
          padding-bottom: 0.12rem;
          margin-bottom: 0.12rem;
          .evaluate_msg {
            font-size: 0;
            .name {
              font-size: 0.3rem;
            }
            .time {
              font-size: 0.2rem;
              float: right;
            }
          }
          .evaluate_content {
            font-size: 0.24rem;
            margin-top: 0.1rem;
          }
          .imgs {
            margin-top: 0.1rem;
            font-size: 0;
            span {
              @include smallBlock(1rem,1rem);
              background: url("../imgs/placeholder.jpg");
              -webkit-background-size: cover;
              background-size: cover;
              border-radius: 0.1rem;
              margin-right: 0.24rem;
            }
          }
          .good_para {
            margin-top: 0.1rem;
            font-size: 0.2rem;
            color: #858585;
          }
        }
      }
    }
  }
}

#sortsList {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  .sorts_wrap {
    padding-bottom: 1rem;
    width: 100%;
    max-height: 9.54rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    .close {
      @include smallIcon(0.4rem,0.4rem,url("../imgs/close.png"));
      position: absolute;
      right: 0.27rem;
      top: 0.19rem;
    }
    .good_img {
      width: 2.2rem;
      height: 2.2rem;
      border: 3px solid #fff;
      background: #fff url("../imgs/placeholder.jpg") center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      left: 0.24rem;
      top: -0.36rem;
    }
    .basic_para {
      padding-left: 2.66rem;
      margin-top: 0.32rem;
      &>div {
        color: #2f2f2f;
        font-size: 0.3rem;
        margin-bottom: 0.12rem;
      }
      .cur_price {
        span {
          color: $paiRed;
        }
      }
      .start_price {
        span {
          font-size: 0.26rem;
          color: #858585;
        }
      }
      .left_price {
        span {
          font-size: 0.26rem;
          color: #858585;
        }
      }

    }
    .parameters {
      height: 6.5rem;
      overflow-y: scroll;
      margin-top: 0.2rem;
      .sorts_para {
        padding: 0.24rem;
        h6 {
          font-size: 0.24rem;
          color: #858585;
          font-weight: 500;
        }
        .single_para_container {
          border-bottom: 1px solid #f0f0f0;
          padding-bottom: 0.12rem;
          h4 {
            font-size: 0.3rem;
            color: #2f2f2f;
            font-weight: 500;
            margin: 0.32rem 0 0.1rem;
          }
          .sorts {
            font-size: 0;
            span {
              font-size: 0.24rem;
              @include smallBlock(auto,0.4rem);
              min-width: 0.5rem;
              padding: 0 0.04rem;
              background-color: #f0f0f0;
              text-align: center;
              line-height: 0.4rem;
              -webkit-border-radius: 0.1rem;
              -moz-border-radius: 0.1rem;
              border-radius: 0.1rem;
              margin: 0.1rem 0.18rem;
              &.short {
                color: #aaa;
                background-color: #eee;
              }
              &.selected {
                color: #fff;
                background-color: $paiRed;
              }
            }
          }
        }
      }
      .count_sel {
        padding: 0 0.24rem 0.24rem;
        border-bottom: 1px solid #f0f0f0;
        .limit {
          float: left;
          font-size: 0.3rem;
          color: #2f2f2f;
        }
        .count {
          float: right;
          font-size: 0;
          margin-top: 0.04rem;
          span {
            font-size: 0.3rem;
            color: #2f2f2f;
            vertical-align: middle;
            margin: 0 0.251rem;
          }
          .minus {
            @include smallIcon(0.4rem,0.4rem,url("../imgs/minus.png"));
            vertical-align: middle;
          }
          .plus {
            @include smallIcon(0.4rem,0.4rem,url("../imgs/plus.png"));
            vertical-align: middle;
          }
        }
      }
      .consume {
        padding: 0.24rem;
        h4 {
          font-size: 0.3rem;
          color: #2f2f2f;
          font-weight: 500;
        }
        p {
          font-size: 0.24rem;
          margin-top: 0.24rem;
        }
      }
    }
    .intension {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

#evaluateImgs {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .eva-swiper-container {
    width: 100%;
    height: 94%;
    margin-top: 3%;
    position: relative;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        background: url("../imgs/placeholder.jpg") center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}

#detailPic {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}