@import "_reset.scss";
@import "_common.scss";


#viewTotal {
  margin-bottom: 1.1rem;
  .swiper-container {
    width: 100%;
    height: 3.2rem;
  }

  #guide {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    // height: 2.1rem;
    border-bottom: 0.09rem solid #f0f0f0;
    ul {
      position: absolute;
      left: 50%;
      margin-left: -3.6rem;
      margin-top: 0.33rem;
      li {
        width: 1.14rem;
        float: left;
        font-size: 0;
        text-align: center;
        margin: 0 0.15rem;
        span {
          font-size: 0.2rem;
          line-height: 2.4em;
        }
        &.video {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_video.png"));
          }
        }
        &.like {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_like.png"));
          }
        }
        &.wish {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_wish.png"));
          }
        }
        &.reward {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_reward.png"));
          }
        }
        &.global {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_global.png"));
          }
        }
        &.money {
          i {
            @include smallIcon(1.14rem,1.14rem,url("../imgs/guide_money.png"));
          }
        }
      }
    }
    .swiper-container-nav {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 0 0.275rem;
      background-color: #fff;
      .swiper-slide {
        text-align: center;
        background: #fff;
        height: 1.74rem;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          font-size: 0;
          padding-top: 0.26rem;
          i {
            @include smallIcon(0.84rem,0.84rem,url("../imgs/placeholder.jpg"));
          }
          span {
            font-size: 0.24rem;
            color: #2f2f2f;
            display: block;
            margin-top: 0.2rem;
          }
        }
        &.tab_lyp a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_lyp.png"));          
        }
        &.tab_jptj a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_jptj.png"));          
        }
        &.tab_dzp a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_dzp.png"));          
        }
        &.tab_xpbk a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_xpbk.png"));          
        }
        &.tab_zsgw a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_zsgw.png"));          
        }
        &.tab_ppzz a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_ppzz.png"));          
        }
        &.tab_xys a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_xys.png"));          
        }
        &.tab_qqg a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_qqg.png"));          
        }
        &.tab_xsjc a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_xsjc.png"));          
        }
        &.tab_zljj a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_zljj.png"));          
        }
        &.tab_xsqp a i {
          @include smallIcon(0.84rem,0.84rem,url("../imgs/nav/nav_xsqp.png"));          
        }

        
        /* Center slide text vertically */
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        // display: flex;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // -webkit-justify-content: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // -webkit-align-items: center;
        // align-items: center;
      }
    }
  }

  #special {
    .special_good {
      border-bottom: 0.09rem solid #f1f1f1;
      padding-bottom: 0.1rem;
      .img_wrap {
        width: 100%;
        height: 3.45rem;
        background: #fff url("../imgs/placeholder.jpg") center center no-repeat;
        background-size: cover;
        margin-bottom: 0.1rem;
      }
      p {
        font-size: 0.22rem;
        padding: 0 0.24rem;
        margin-bottom: 0.1rem;
      }
      .actions {
        padding: 0 0.24rem;
        font-size: 0.2rem;
        color: #858585;
        .current_price_pre {
          color: #2f2f2f;
        }
        .current_price {
          font-size: 0.36rem;
          color: $paiRed;
        }
        button {
          width: 1.12rem;
          height: 0.5rem;
          color: #fff;
          border-radius: 6px;
          outline: none;
          border: none;
          float: right;
          &.on_bid{
            background-color: $paiRed;
          }
          &.sold_out{
            background-color: #999;
          }
          &.pre_sale{
            background-color: $paiYellow;
          }
        }
      }
    }
  }

  #filters {
    background-color: #fff;
    transition: all 0.3s ease;
    &.fixed_top {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1000;
    }
    .filtersWrap {
      display: flex;
      display: -webkit-flex;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      border-bottom: 1px solid #ddd;
      .filter {
        text-align: center;
        flex-grow: 1;
        font-size: 0.24rem;
        line-height: 0.82rem;
        &.sales {
          &.active {
            color: $paiRed;
          }
        }
        i {
          @include smallIcon(0.16rem,0.08rem,url("../imgs/down_red.png"));
          vertical-align: middle;
          margin-left: 0.05rem;
          &.price_sort {
            @include smallIcon(0.16rem,0.08rem,url("../imgs/down_grey.png"));
            position: relative;
            margin-bottom: -0.04rem;
            &::after {
              content: "";
              @include smallIcon(0.16rem,0.08rem,url("../imgs/up_grey.png"));
              position: absolute;
              top: -0.1rem;
              left: 0;
            }
          }
          &.price_sort.up::after {
            @include smallIcon(0.16rem,0.08rem,url("../imgs/up_red.png"));
          }
          &.price_sort.down {
            @include smallIcon(0.16rem,0.08rem,url("../imgs/down_red.png"));
          }
        }
      }
    }
  }

  #goods {
    padding: 0.24rem 0.24rem 0;
    .single_good{
      max-height: 4.84rem;
      width: 3.45rem;
      float: left;
      margin-bottom: 0.12rem;
      &:nth-child(even) {
        float: right;
      }
      .item_img {
        width: 100%;
        height: 3.45rem;
        background: url("../imgs/placeholder.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      .about {
        padding: 0.15rem 0.09rem;
        .desc {
          font-size: 0.22rem;
          color: #2f2f2f;
          height: 0.6rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;//被自动清除，后期手动补上
          -webkit-line-clamp: 2;
        }
        .price {
          font-size: 0;
          margin-top: 0.14rem;
          .price_now {
            font-size: 0.24rem;
            color: $paiRed;
            line-height: 0.44rem;

          }
          .price_primary {
            font-size: 0.2rem;
            color: #2f2f2f;
            text-decoration: line-through;
            line-height: 0.44rem;
            margin-left: 0.06rem;
          }
          .sales_state {
            @include smallBlock(0.44rem,0.44rem);
            background: url("../imgs/hummer.png") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            &.salling_cut {
              background: url("../imgs/hummer.png") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
            }
            &.out_time {
              background: url("../imgs/hummer_gray.png") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
            }
            &.pre_sale {
              background: url("../imgs/pre_sale.png") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
            }
            &.sold_out {
              background: url("../imgs/sold_out.png") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
            }
            float: right;
          }
        }
      }
    }
  }
}

.sortsWrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  .sorts {
    background-color: #fff;
    margin-top: 0.82rem;
    ul {
      padding: 0 0.1rem;
      max-height: 6.7rem;
      overflow-y: scroll;
      li {
        font-size: 0.22rem;
        line-height: 0.7rem;
        border-bottom: 1px solid #ddd;
        padding: 0 0.2rem;
        &.current::after {
          content: "";
          @include smallIcon(0.29rem,0.21rem,url("../imgs/sort_selected.png"));
          float: right;
          margin-top: 0.22rem;
        }
      }
    }
  }
}