@import "_reset.scss";
@import "_common.scss";

body {
  background-color: #f0f0f0;
}

#order {
  margin-bottom: 1rem;
  #orderSorts {
    background-color: #fff;
    .nav_wrap {
      display: flex;
      flex-wrap: nowrap;
      .tab {
        flex-grow: 1;
        font-size: 0.3rem;
        color: #858585;
        text-align: center;
        &.current a {
          color: $paiRed;
          border-bottom: 2px solid $paiRed;
        }
        a {
          display: inline-block;
          line-height: 0.9rem;
        }
      }
    }
  }

  .singleOrder {
    background-color: #fff;
    //margin-top: 0.2rem;
    border-bottom: 0.2rem solid #f0f0f0;
    .order_head {
      font-size: 0.24rem;
      color: #2f2f2f;
      padding: 0.18rem 0.24rem;
      span {
        color: #858585;
      }
      .orde_status {
        color: #ff8124;
        float: right;

      }
      i.clock {
        @include smallIcon(0.32rem,0.32rem,url("../imgs/clock.png"));
        vertical-align: middle;
        margin-top: -0.07rem;
        margin-right: 0.1rem;
      }
      .time_left {
        color: #2f2f2f;
      }
    }
    .order_detail {
      height: 1.9rem;
      background-color: #f8f8f8;
      padding: 0.14rem 0.24rem 0.14rem 2.12rem;
      position: relative;
      .product_pic {
        width: 1.64rem;
        height: 1.64rem;
        background: url("../imgs/placeholder.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 0.24rem;
        top: 0.14rem;
      }
      .product_desc {
        width: 3.1rem;
        float: left;
        .name {
          font-size: 0.22rem;

        }
        .parameter {
          font-size: 0.2rem;
          color: #858585;
          margin-top: 0.14rem;
        }
      }
      .price {
        float: right;
        font-size: 0;
        text-align: right;
        .price_now {
          font-size: 0.28rem;
        }
        .price_primary {
          font-size: 0.24rem;
          color: #858585;
          text-decoration: line-through;
        }
        .count {
          display: inline-block;
          font-size: 0.24rem;
          color: #858585;
          margin-top: 0.1rem;
        }
      }
    }
    .total {
      text-align: right;
      font-size: 0.2rem;
      padding: 0.13rem 0.24rem 0.18rem;
      color: #858585;
      span {
        font-size: 0.28rem;
      }
      .deal_price {
        color: #2f2f2f;
      }
      .postage {
        font-size: 0.2rem;
        color: #2f2f2f;
      }
    }

  }
}

.order_edit {
  background-color: #fff;
  color: #858585;
  outline: none;
  border: 1px solid #858585;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.08rem;
  line-height: 0.4rem;
  padding: 0 0.22rem;
  float: right;
  margin-right: 0.24rem;
  margin-bottom: 0.16rem;
  &.red {
    color: $paiRed;
    border-color: $paiRed;
  }
}


#orderHandle {
  #state {
    width: 100%;
    height: 1.76rem;
    background: linear-gradient(to right, #4e4f50 , #38393a);
    color: #fff;
    padding: 0.24rem;
    font-size: 0;
    position: relative;
    &.golden_bg {
      background: linear-gradient(to right, #f9c300 , #ff8b2d);
    }
    .car {
      @include smallIcon(0.35rem,0.29rem,url("../imgs/car.png"));
      position: absolute;
      left: 0.24rem;
      top: 0.264rem;
    }
    .order_state {
      font-size: 0.24rem;
      padding-left: 0.5rem;
      h3 {
        font-size: 0.28rem;
        font-weight: 500;
        margin-bottom: 0.026rem;
      }
      p {
        margin-top: 0.06rem;
      }
    }
    .caution {
      @include smallIcon(0.71rem,0.71rem,url("../imgs/caution.png"));
      position: absolute;
      right: 0.38rem;
      top: 0.52rem;
    }
    .complete {
      @include smallIcon(0.71rem,0.71rem,url("../imgs/complete.png"));
      position: absolute;
      right: 0.38rem;
      top: 0.52rem;
    }

  }
  #receiveMsg {
    padding: 0.24rem 0.24rem 0.24rem 0.74rem;
    margin-top: 0.16rem;
    background-color: #fff;
    position: relative;
    font-size: 0.24rem;
    .location {
      @include smallIcon(0.26rem,0.34rem,url("../imgs/location.png"));
      position: absolute;
      left: 0.29rem;
      top: 0.25rem;
    }
    .receiver {
      span {
        margin-right: 0.2rem;
      }
    }
    .address {
      margin-top: 0.1rem;
      span {
        vertical-align: top;
      }
      .addr_detail {
        display: inline-block;
        width: 5rem;
      }
    }
  }
  #googDetail {
    background-color: #fff;
    margin-top: 0.16rem;
    h3 {
      font-size: 0.3rem;
      color: #2f2f2f;
      font-weight: 500;
      line-height: 0.64rem;
      margin: 0 0.24rem;
      i {
        @include smallIcon(0.34rem,0.33rem,url("../imgs/good.png"));
        margin-bottom: -0.06rem;
        margin-right: 0.12rem;
      }
    }
    .good_list {
      .single_good {
        .good_msg {
          padding: 0.14rem 0.24rem 0.14rem 2.1rem;
          background-color: #f8f8f8;
          position: relative;
          min-height: 1.9rem;
          .img {
            @include smallBlock(1.63rem,1.63rem);
            background: url("../imgs/detail_01.jpg") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            left: 0.24rem;
            top: 0.14rem;
          }
          .product_desc {
            width: 3.1rem;
            float: left;
            .name {
              font-size: 0.22rem;

            }
            .parameter {
              font-size: 0.2rem;
              color: #858585;
              margin-top: 0.14rem;
            }
          }
          .price {
            float: right;
            font-size: 0;
            text-align: right;
            .price_now {
              font-size: 0.28rem;
            }
            .price_primary {
              font-size: 0.24rem;
              color: #858585;
              text-decoration: line-through;
            }
            .count {
              display: inline-block;
              font-size: 0.24rem;
              color: #858585;
              margin-top: 0.1rem;
            }
          }
        }
        .manipu {
          border-bottom: 1px dashed #f0f0f0;
          padding-top: 0.1rem;
          margin-bottom: 0.1rem;
        }
      }
    }

    .price_detail {
      padding: 0.04rem 0.24rem;
      border-bottom: 1px solid #e8e8e8;
      p {
        line-height: 0.44rem;
        font-size: 0.24rem;
        .count_detail {
          float: right;
        }
      }
    }
    .price_total {
      p {
        font-size: 0.24rem;
        text-align: right;
        padding: 0 0.24rem;
      }
      .fee {
        color: $paiRed;
        line-height: 0.54rem;
      }
    }
  }
  #orderNum {
    background-color: #fff;
    padding: 0.12rem 0.24rem;
    margin-top: 0.16rem;
    font-size: 0.2rem;
    line-height: 0.32rem;
  }

  #logistics{
    background-color: #fff;
    margin-top: 0.16rem;
    padding-bottom: 0.24rem;
    h3 {
      font-size: 0.3rem;
      color: #2f2f2f;
      font-weight: 500;
      line-height: 0.64rem;
      margin: 0 0.24rem;
      i {
        @include smallIcon(0.354rem,0.3rem,url("../imgs/logistics.png"));
        margin-bottom: -0.04rem;
        margin-right: 0.12rem;
      }
    }
    .detail {
      margin: 0 0.24rem;
      line-height: 0.4rem;
      p {
        font-size: 0.24rem;
      }
    }
  }
}

#blank {
  display: none;
  text-align: center;
  margin-top: 2rem;
  font-size: 0;
  .img {
    img {
      width: 2.73rem;
      height: 2.02rem;
    }
  }
  h6 {
    font-weight: 500;
    font-size: 0.32rem;
    margin-top: 0.44rem;
  }
  button {
    margin-top: 0.7rem;
    width: 3rem;
    line-height: 0.7rem;
    color: #fff;
    background-color: $paiRed;
    border-radius: 0.06rem;
    outline: none;
    border: none;
    font-size: 0.3rem;
  }
}