@import "_reset.scss";
@import "_common.scss";

body {
  background-color: #f0f0f0;
}

#order {
  margin-bottom: 1rem;
  #orderSorts {
    background-color: #fff;
    .nav_wrap {
      display: flex;
      flex-wrap: nowrap;
      .tab {
        flex-grow: 1;
        font-size: 0.3rem;
        color: #858585;
        text-align: center;
        &.current a {
          color: $paiRed;
          border-bottom: 2px solid $paiRed;
        }
        a {
          display: inline-block;
          line-height: 0.9rem;
        }
      }
    }
  }

  .singleOrder {
    position: relative;
    font-size: 0;
    &.reward_order {
      .order_head {
        i.more {
          @include smallIcon(0.22rem,0.22rem,url("../imgs/icon_arrow.png"));
          float: right;
          margin-top: 0.06rem;
          transform: rotate(90deg);
          transition: all .3s ease;
        }
      }
      .goods_detail {
        height: 1.9rem;
        overflow: hidden;
      }
      &.unfold {
        .order_head {
          i.more {
            transform: rotate(-90deg);
          }
        }
        .goods_detail {
          height: auto;
        }
      }
    }
    background-color: #fff;
    //margin-top: 0.2rem;
    border-bottom: 0.2rem solid #f0f0f0;
    .order_head {
      font-size: 0.24rem;
      color: #2f2f2f;
      padding: 0.18rem 0.24rem;
      span {
        color: #858585;
      }
      .orde_status {
        color: #ff8124;
        float: right;

      }
      i.clock {
        @include smallIcon(0.32rem,0.32rem,url("../imgs/clock.png"));
        vertical-align: middle;
        margin-top: -0.07rem;
        margin-right: 0.1rem;
      }
      .time_left {
        color: #2f2f2f;
      }
    }
    .bottom {
      height: 0.2rem;
    }
    .crowd_status {
      position: absolute;
      right: 1rem;
      top: 1.4rem;
      z-index: 9999;
      &.complete {
        @include smallIcon(1.22rem,1.22rem,url('../imgs/crowd_complete.png'));
      }
      &.cancel {
        @include smallIcon(1.22rem,1.22rem,url('../imgs/crowd_cancel.png'));
      }
      &.delete {
        @include smallIcon(1.22rem,1.22rem,url('../imgs/crowd_delete.png'));
      }
    }
    .order_detail {
      height: 1.9rem;
      background-color: #f8f8f8;
      padding: 0.14rem 0.24rem 0.14rem 2.12rem;
      position: relative;
      .product_pic {
        width: 1.64rem;
        height: 1.64rem;
        background: url("../imgs/placeholder.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 0.24rem;
        top: 0.14rem;
      }
      .product_desc {
        width: 3.1rem;
        float: left;
        .name {
          font-size: 0.22rem;
          line-height: 0.33rem;
          height: 0.66rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;//被自动清除，后期手动补上
          -webkit-line-clamp: 2;
        }
        .parameter {
          font-size: 0.2rem;
          color: #858585;
          margin-top: 0.08rem;
          line-height: 0.3rem;
          max-height: 0.9rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;//被自动清除，后期手动补上
          -webkit-line-clamp: 3;
        }
        .prompt {
          position: absolute;
          bottom: 0.07rem;
          left: 2.12rem;
          color: $paiRed;
          font-size: 0.24rem;
        }
      }
      .price {
        float: right;
        font-size: 0;
        text-align: right;
        .price_now {
          font-size: 0.28rem;
        }
        .price_primary {
          font-size: 0.24rem;
          color: #858585;
          text-decoration: line-through;
        }
        .count {
          display: inline-block;
          font-size: 0.24rem;
          color: #858585;
          margin-top: 0.1rem;
        }
      }
    }
    .total {
      text-align: right;
      font-size: 0.2rem;
      padding: 0.13rem 0.24rem 0.18rem;
      color: #858585;
      span {
        font-size: 0.28rem;
      }
      .deal_price {
        color: #2f2f2f;
      }
      .postage {
        font-size: 0.2rem;
        color: #2f2f2f;
      }
    }

  }

  .process {
    background-color: #fff;
    padding: 0.24rem 0.44rem;
    .bar_wrap {
      padding: 0 2%;
      .process_bar {
        margin-top: 0.5rem;
        width: 100%;
        height: 0.2rem;
        background-color: #858585;
        border-radius: 0.2rem;
        // overflow: hidden;
        .base {
          width: 0%;
          background-color: $paiRed;
          height: 0.2rem;
          border-radius: 0.2rem;
          .fill {
            font-size: 0.3rem;
            color: $paiRed;
            float: right;
            margin-top: -0.5rem;
            margin-right: -0.45rem;
          }
        }
      }
    }
    .count_wrap {
      height: 1.4rem;
      width: 100%;
      background-color: #f0f0f0;
      border-radius: 6px;
      margin-top: 0.4rem;
      position: relative;
      .count {
        float: left;
        width: 33.3%;
        text-align: center;
        font-size: 0.24rem;
        margin-top: 0.32rem;
        span {
          font-size: 0.28rem;
        }
      }
      .divide {
        display: inline-block;
        border-left: 1px solid #858585;
        border-right: 1px solid #858585;
        height: 0.5rem;
        width: 2.52rem;
        position: absolute;
        left: 50%;
        margin-left: -1.26rem;
        top: 0.45rem;
      }
    }
    .declaration {
      margin-top: 0.44rem;
      font-size: 0;
      span {
        display: inline-block;
        font-size: 0.24rem;
      }
      .title {
        width: 24%;
        float: left;
      }
      .content {
        width: 76%;
        float: left;
      }
      textarea {
        margin: 0.1rem 0;
        width: 100%;
        font-size: 0.26rem;
        height: 1.6rem;
        padding: 0.2rem;
        line-height: 1.3em;
        resize: none;
        border: 1px solid #f0f0f0;
        font-family: 'Microsoft YaHei';
      }
    }
    .submit {
      button {
        width: 6.7rem;
        height: 0.9rem;
        border-radius: 4px;
        background-color: $paiRed;
        font-size: 0.3rem;
        color: #fff;
        border: none;
        position: relative;
        left: 50%;
        margin-left: -3.35rem;
        margin-top: 0.8rem;
      }
      p {
        margin-top: 0.1rem;
        color: $paiRed;
        font-size: 0.2rem;
      }
    }
    .interaction {
      position: relative;
      margin-top: 0.4rem;
      padding-bottom: 0.1rem;
      .button_wrap {
        width: 5.1rem;
        position: relative;
        left: 50%;
        margin-left: -2.55rem;
        font-size: 0;
        button {
          width: 1.9rem;
          height: 0.6rem;
          border-radius: 0.1rem;
          outline: none;
          font-size: 0.24rem;
          border: none;
          color: #fff;
        }
        .reward {
          float: left;
          background-color: $paiRed;
        }
        .join {
          float: right;
          background-color: $paiYellow;
        }
        .share {
          background-color: $paiRed;
          position: relative;
          width: 3.2rem;
          left: 50%;
          margin-left: -1.6rem;
        }
        .weibo_share_btn {
          iframe {
            position: absolute;
            top: -0.73rem;
            left: -0.36rem;
            opacity: 0;
          }
        }

      }
    }
  }

  .reward_list {
    background-color: #fff;
    margin-top: 0.2rem;
    h6 {
      font-size: 0.24rem;
      font-weight: 500;
      padding: 0.12rem 0.24rem;
      .left {
        float: left;
      }
      .right {
        float: right;
        color: #858585;
      }
    }
    .list_wrap {
      padding-bottom: 0.32rem;
      .single_rewarder {
        border-top: 1px solid #f0f0f0;
        font-size: 0;
        padding: 0.12rem 0.24rem;
        &:nth-child(1) {
          .mark {
            @include smallIcon(0.6rem,0.75rem,url("../imgs/ranking_01.png"));
          }
        }
        &:nth-child(2) {
          .mark {
            @include smallIcon(0.6rem,0.75rem,url("../imgs/ranking_02.png"));
          }
        }
        &:nth-child(3) {
          .mark {
            @include smallIcon(0.6rem,0.75rem,url("../imgs/ranking_03.png"));
          }
        }
        &.unfold {
          padding-bottom: 0;
          .msg {
            height: auto;
            >div {
              padding-top: 0.18rem;
              padding-bottom: 0.1rem;
              margin-left: 0.8rem;
              border-top: 1px solid #f5f5f5;
              .single_msg {
                padding: 0;
                border: none;
                .date {
                  float: left;
                  font-size: 0.2rem;
                  color: #858585;
                }
                .count {
                  float: right;
                  font-size: 0.2rem;
                  color: #858585;
                }
              }
              p {
                border: none;
                padding-top: 0;
              }
            }
          }
          .info_wrap {
            .arrow {
              transform: rotate(-90deg);
              transition: all .3s ease;
            }
          }
        }
        span {
          display: inline-block;
        }
        .info_wrap {
          height: 0.76rem;
          .mark {
            margin-right: 0.2rem;
            vertical-align: middle;
          }
          .ranking {
            font-size: 0.24rem;
            font-weight: 700;
            vertical-align: middle;
            min-width: 0.7rem;
            margin-right: 0.1rem;
          }
          .avatar {
            @include smallIcon(0.7rem,0.7rem,url("../imgs/ano.png"));
            vertical-align: middle;
            margin-right: 0.2rem;
            border-radius: 50%;
          }
          .info {
            font-size: 0.24rem;
            vertical-align: middle;
          }
          .reward_count {
            float: right;
            font-size: 0.24rem;
            color: #000;
            margin-top: 0.16rem;
          }
          .arrow {
            float: right;
            @include smallIcon(0.22rem,0.22rem,url("../imgs/icon_arrow.png"));
            margin-top: 0.24rem;
            margin-left: 0.12rem;
            transform: rotate(90deg);
            transition: all .3s ease;
          }
          .no_arrow {
            float: right;
            width: 0.22rem;
            height: 0.22rem;
            margin-top: 0.24rem;
            margin-left: 0.12rem;
          }
        }
        .msg {
          padding-top: 0.04rem;
          height: 0;
          overflow: hidden;
          p {
            padding-top: 0.04rem;
            border-top: 1px solid #f0f0f0;
            font-size: 0.24rem;
          }
        }
      }
    }
  }
}

.order_edit {
  background-color: #fff;
  color: #858585;
  outline: none;
  border: 1px solid #858585;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.08rem;
  line-height: 0.4rem;
  padding: 0 0.22rem;
  float: right;
  margin-right: 0.24rem;
  margin-bottom: 0.16rem;
  &.red {
    color: $paiRed;
    border-color: $paiRed;
  }
}

#orderHandle {
  #state {
    width: 100%;
    height: 1.76rem;
    background: linear-gradient(to right, #4e4f50 , #38393a);
    color: #fff;
    padding: 0.24rem;
    font-size: 0;
    position: relative;
    &.golden_bg {
      background: linear-gradient(to right, #f9c300 , #ff8b2d);
    }
    .car {
      @include smallIcon(0.35rem,0.29rem,url("../imgs/car.png"));
      position: absolute;
      left: 0.24rem;
      top: 0.264rem;
    }
    .order_state {
      font-size: 0.24rem;
      padding-left: 0.5rem;
      h3 {
        font-size: 0.28rem;
        font-weight: 500;
        margin-bottom: 0.026rem;
      }
      p {
        margin-top: 0.06rem;
      }
    }
    .caution {
      @include smallIcon(0.71rem,0.71rem,url("../imgs/caution.png"));
      position: absolute;
      right: 0.38rem;
      top: 0.52rem;
    }
    .complete {
      @include smallIcon(0.71rem,0.71rem,url("../imgs/complete.png"));
      position: absolute;
      right: 0.38rem;
      top: 0.52rem;
    }

  }
  #receiveMsg {
    display: none;
    padding: 0.24rem 0.24rem 0.24rem 0.74rem;
    margin-top: 0.16rem;
    background-color: #fff;
    position: relative;
    font-size: 0.24rem;
    .location {
      @include smallIcon(0.26rem,0.34rem,url("../imgs/location.png"));
      position: absolute;
      left: 0.29rem;
      top: 0.25rem;
    }
    .receiver {
      span {
        margin-right: 0.2rem;
      }
    }
    .address {
      margin-top: 0.1rem;
      span {
        vertical-align: top;
      }
      .addr_detail {
        display: inline-block;
        width: 5rem;
      }
    }
  }
  #chargePhone {
    display: none;
    padding: 0.24rem 0.24rem 0.24rem 0.74rem;
    margin-top: 0.16rem;
    background-color: #fff;
    position: relative;
    font-size: 0.24rem;
  }
  #googDetail {
    background-color: #fff;
    margin-top: 0.16rem;
    h3 {
      font-size: 0.3rem;
      color: #2f2f2f;
      font-weight: 500;
      line-height: 0.64rem;
      margin: 0 0.24rem;
      i {
        @include smallIcon(0.34rem,0.33rem,url("../imgs/good.png"));
        margin-bottom: -0.06rem;
        margin-right: 0.12rem;
      }
    }
    .good_list {
      .single_good {
        .good_msg {
          padding: 0.14rem 0.24rem 0.14rem 2.1rem;
          background-color: #f8f8f8;
          position: relative;
          min-height: 1.9rem;
          .img {
            @include smallBlock(1.63rem,1.63rem);
            background: url("../imgs/detail_01.jpg") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            left: 0.24rem;
            top: 0.14rem;
          }
          .product_desc {
            width: 3.1rem;
            float: left;
            .name {
              font-size: 0.22rem;

            }
            .parameter {
              font-size: 0.2rem;
              color: #858585;
              margin-top: 0.14rem;
            }
          }
          .price {
            float: right;
            font-size: 0;
            text-align: right;
            .price_now {
              font-size: 0.28rem;
            }
            .price_primary {
              font-size: 0.24rem;
              color: #858585;
              text-decoration: line-through;
            }
            .count {
              display: inline-block;
              font-size: 0.24rem;
              color: #858585;
              margin-top: 0.1rem;
            }
          }
        }
        .manipu {
          border-bottom: 1px dashed #f0f0f0;
          padding-top: 0.1rem;
          margin-bottom: 0.1rem;
        }
      }
    }

    .price_detail {
      padding: 0.04rem 0.24rem;
      border-bottom: 1px solid #e8e8e8;
      p {
        line-height: 0.44rem;
        font-size: 0.24rem;
        .count_detail {
          float: right;
        }
      }
    }
    .price_total {
      p {
        font-size: 0.24rem;
        text-align: right;
        padding: 0 0.24rem;
      }
      .fee {
        color: $paiRed;
        line-height: 0.54rem;
      }
    }
  }
  #orderNum {
    background-color: #fff;
    padding: 0.12rem 0.24rem;
    margin-top: 0.16rem;
    font-size: 0.2rem;
    line-height: 0.32rem;
  }

  #logistics{
    background-color: #fff;
    margin-top: 0.16rem;
    padding-bottom: 0.24rem;
    h3 {
      font-size: 0.3rem;
      color: #2f2f2f;
      font-weight: 500;
      line-height: 0.64rem;
      margin: 0 0.24rem;
      i {
        @include smallIcon(0.354rem,0.3rem,url("../imgs/logistics.png"));
        margin-bottom: -0.04rem;
        margin-right: 0.12rem;
      }
    }
    .detail {
      margin: 0 0.24rem;
      line-height: 0.4rem;
      p {
        font-size: 0.24rem;
      }
      .express_detail {
        border-top: 1px solid #ddd;
        margin-top: 0.1rem;
        padding-top: 0.08rem;
        padding-left: 0.4rem;
        &>div {
          padding: 0.06rem 0;
          border-bottom: 1px dashed #ddd;
          &:first-of-type {
            color: $paiRed;
          }
        }
      }
    }
  }
}

#rewardPay {
  background-color: #fff;
  text-align: center;
  .user_msg {
    background-color: #f0f0f0;
    font-size: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    .avatar {
      @include smallBlock(1.24rem,1.24rem);
      background: url('../imgs/user_avatar.png') center center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
    p {
      font-size: 0.24rem;
      margin-top: 0.2rem;
    }
  }
  .left_space{
    font-size: 0;
    padding: 0 0.24rem;
    background-color: #fff;
    border-bottom: 0.1rem solid #f0f0f0;
    span {
      font-size: 0.24rem;
      line-height: 0.8rem;
      float: left;
    }
    .count {
      font-size: 0.36rem;
      float: right;
    }
  }
  .reward_count {
    font-size: 0;
    padding: 0 0.24rem;
    background-color: #fff;
    border-bottom: 0.1rem solid #f0f0f0;
    .count_input {
      font-size: 0;
      border-bottom: 1px solid #f0f0f0;
      span {
        font-size: 0.24rem;
        line-height: 0.66rem;
        float: left;
        margin-right: 0.2rem;
      }
      input {
        height: 0.64rem;
        width: 30%;
        border: none;
        font-size: 0.24rem;
        float: left;
        &::-webkit-input-placeholder { /* WebKit browsers */
          color:    #999;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #999;
          opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #999;
          opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color:    #999;
        }
      }
      .most {
        font-size: 0.24rem;
        float: right;
        color: $paiRed;
      }
    }
    .options_wrap {
      padding: 0.2rem 0.01rem 0.02rem;
      span {
        display: inline-block;
        // background-color: #858585;
        border: 1px solid #858585;
        border-radius: 4px;
        color: #858585;
        font-size: 0.38rem;
        width: 1.6rem;
        line-height: 0.64rem;
        text-align: center;
        margin-right: 0.2rem;
        margin-bottom: 0.18rem;
        s {
          font-size: 0.24rem;
          text-decoration: none;
        }
        &.valid {
          // background-color: $paiRed;
          border: 1px solid $paiRed;
          color: $paiRed;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
  .pay_type {
    font-size: 0;
    padding: 0 0.24rem;
    background-color: #fff;
    border-bottom: 0.1rem solid #f0f0f0;
    div {
      width: 50%;
      float: left;
      text-align: center;
      i.check {
        @include smallIcon(0.28rem,0.28rem,url('../imgs/unselected.png'));
        margin-bottom: -0.04rem;
      }
      &.selected {
        i.check {
          @include smallIcon(0.28rem,0.28rem,url('../imgs/selected.png'));
        }
      }
      span {
        line-height: 0.92rem;
        font-size: 0.26rem;
      }
      &.alipay {
        i.icon {
          @include smallIcon(0.52rem,0.52rem,url('../imgs/alipay.png'));
          vertical-align: middle;
          margin: -0.16rem 0.1rem 0 0.2rem;
        }
      }
      &.wechat {
        i.icon {
          @include smallIcon(0.52rem,0.52rem,url('../imgs/wechat.png'));
          vertical-align: middle;
          margin: -0.16rem 0.1rem 0 0.2rem;
        }
      }
    }
  }
  .leave_msg {
    font-size: 0;
    padding: 0 0.24rem;
    background-color: #fff;
    .head {
      font-size: 0.24rem;
      padding-top: 0.1rem;
      .title {
        float: left;
      }
      .mode {
        float: right;
        vertical-align: middle;
        color: #858585;
        margin-left: 0.2rem;
        .real_name {
          width: 2rem;
          font-size: 0.24rem;
          padding-left: 0.06rem;
          border: 1px solid #ccc;
          &::-webkit-input-placeholder { /* WebKit browsers */
            color:    #999;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #999;
            opacity:  1;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #999;
            opacity:  1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #999;
          }
        }
      }
    }
    textarea {
      margin: 0.1rem 0;
      width: 100%;
      font-size: 0.24rem;
      height: 1.4rem;
      padding: 0.2rem;
      line-height: 1.2em;
      resize: none;
      border: 1px solid #f0f0f0;
      font-family: 'Microsoft YaHei';
    }
    .commit {
      margin-top: 0.44rem;
      width: 6.7rem;
      line-height: 0.9rem;
      color: #fff;
      background-color: $paiRed;
      border-radius: 4px;
      outline: none;
      border: none;
      font-size: 0.3rem;
    }
    p.prompt {
      font-size: 0.2rem;
      color: $paiRed;
      text-align: left;
      padding: 0.1rem 0.2rem;
    }
  }
}

#blank {
  display: none;
  text-align: center;
  margin-top: 2rem;
  font-size: 0;
  .img {
    img {
      width: 2.73rem;
      height: 2.02rem;
    }
  }
  h6 {
    font-weight: 500;
    font-size: 0.32rem;
    margin-top: 0.44rem;
  }
  button {
    margin-top: 0.7rem;
    width: 3rem;
    line-height: 0.7rem;
    color: #fff;
    background-color: $paiRed;
    border-radius: 0.06rem;
    outline: none;
    border: none;
    font-size: 0.3rem;
  }
}