@import "_reset.scss";
@import "_common.scss";

body {
  background-color: #f0f0f0;
}

#order {
  color: #2f2f2f;
  margin-bottom: 0.9rem;
  #orderSorts {
    background-color: #fff;
    .nav_wrap {
      display: flex;
      flex-wrap: nowrap;
      .tab {
        flex-grow: 1;
        font-size: 0.3rem;
        color: #858585;
        text-align: center;
        &.current {
          color: $paiRed;
          border-bottom: 2px solid $paiRed;
        }
        a {
          display: inline-block;
          line-height: 0.9rem;
        }
      }
    }
  }

  #singleOrder {
    background-color: #fff;
    margin-top: 0.2rem;
    .order_head {
      font-size: 0.24rem;
      color: #2f2f2f;
      padding: 0.18rem 0.24rem;
      span {
        color: #858585;
      }
      .orde_status {
        color: #ff8124;
        float: right;

      }
    }
    .order_detail {
      height: 1.9rem;
      background-color: #f8f8f8;
      padding: 0.14rem 0.24rem 0.14rem 2.12rem;
      position: relative;
      .product_pic {
        width: 1.64rem;
        height: 1.64rem;
        background: url("../imgs/detail_01.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 0.24rem;
        top: 0.14rem;
      }
      .product_desc {
        width: 3.1rem;
        float: left;
        .name {
          font-size: 0.22rem;

        }
        .parameter {
          font-size: 0.2rem;
          color: #858585;
          margin-top: 0.14rem;
        }
      }
      .price {
        float: right;
        font-size: 0;
        text-align: right;
        .price_now {
          font-size: 0.28rem;
        }
        .price_primary {
          font-size: 0.24rem;
          color: #858585;
          text-decoration: line-through;
        }
        .count {
          display: inline-block;
          font-size: 0.24rem;
          color: #858585;
          margin-top: 0.1rem;
        }
      }
    }
    .total {
      text-align: right;
      font-size: 0.2rem;
      padding: 0.13rem 0.24rem 0.18rem;
      color: #858585;
      span {
        font-size: 0.28rem;
      }
      .deal_price {
        color: #2f2f2f;
      }
      .postage {
        font-size: 0.2rem;
        color: #2f2f2f;
      }
    }
    .order_deit {
      background-color: #fff;
      color: #858585;
      outline: none;
      border: 1px solid #858585;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      border-radius: 0.08rem;
      line-height: 0.4rem;
      padding: 0 0.22rem;
      float: right;
      margin-right: 0.24rem;
      margin-bottom: 0.16rem;
    }
  }
}