@import "_reset.scss";
@import "_common.scss";

#serviceDetail {
  #goodDetail {
    background-color: #fff;
    border-bottom: 0.2rem solid #f0f0f0;
    .good_msg {
      padding: 0.16rem 0.24rem 0.16rem 2.1rem;
      position: relative;
      min-height: 1.9rem;
      .img {
        @include smallBlock(1.63rem,1.63rem);
        background: url("../imgs/detail_01.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 0.24rem;
        top: 0.14rem;
      }
      .product_desc {
        width: 3.1rem;
        float: left;
        .name {
          font-size: 0.22rem;

        }
        .parameter {
          font-size: 0.2rem;
          color: #858585;
          margin-top: 0.14rem;
        }
      }
      .price {
        float: right;
        font-size: 0;
        text-align: right;
        .price_now {
          font-size: 0.28rem;
        }
        .price_primary {
          font-size: 0.24rem;
          color: #858585;
          text-decoration: line-through;
        }
        .count {
          display: inline-block;
          font-size: 0.24rem;
          color: #858585;
          margin-top: 0.1rem;
        }
      }
    }
    .price_detail {
      padding: 0.04rem 0.24rem;
      border-bottom: 1px solid #e8e8e8;
      p {
        line-height: 0.44rem;
        font-size: 0.24rem;
        .count_detail {
          float: right;
        }
      }
    }
    .price_total {
      p {
        font-size: 0.24rem;
        text-align: right;
        padding: 0 0.24rem;
      }
      .fee {
        color: $paiRed;
        line-height: 0.54rem;
      }
    }
  }
  #fillMsg {
    .form_group {
      font-size: 0;
      border-bottom: 1px solid #f0f0f0;
      padding: 0.24rem;
      &:last-of-type {
        border-bottom: none;
      }
      >* {
        float: left;
      }
      .required {
        font-size: 0.24rem;
        color: $paiRed;
        line-height: 0.3rem;
        margin-right: 0.1rem;
      }
      label {
        font-size: 0.3rem;
        margin-right: 0.2rem;
        line-height: 0.3rem;
      }
      .content {
        font-size: 0.24rem;
        line-height: 0.3rem;
        .count {
          color: $paiRed;
          border: none;
          padding-left: 0.04rem;
          &::-webkit-input-placeholder { /* WebKit browsers */
            color: $paiRed;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $paiRed;
            opacity:  1;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $paiRed;
            opacity:  1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $paiRed;
          }
        }
      }
      select {
        border: none;
        appearance:none;
        font-size: 0.24rem;
        line-height: 0.3rem;
        width: 5rem;
        color: #2f2f2f;
        background: url("../imgs/select_arrow.png") no-repeat scroll right center transparent;
        -webkit-background-size: 0.22rem 0.14rem;
        background-size: 0.22rem 0.14rem;
      }
    }
    p.count_prompt {
      color: #858585;
      padding: 0 0.24rem;
      line-height: 0.6rem;
      font-size: 0.24rem;
      background-color: #f0f0f0;
    }
  }

  #uploadPics {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.14rem 0.24rem 0.32rem;
    font-size: 0;
    &.pic_evaluate {
      border-bottom: none;
    }
    h3 {
      font-size: 0.3rem;
      font-weight: 500;
      margin-bottom: 0.24rem;
      span {
        font-size: 0.24rem;
      }
    }
    #uploadImg {
      display: none;
    }
    #pics_box {
      display: inline-block;
      font-size: 0;
      float: left;
      .picture {
        @include smallBlock(1.2rem,1.2rem);
        background: url("../imgs/detail_01.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        margin-right: 0.2rem;
        border-radius: 0.1rem;
        position: relative;
        i {
          @include smallIcon(0.4rem,0.4rem,url("../imgs/delete.png"));
          position: absolute;
          right: -0.1rem;
          top: -0.1rem;
        }
      }
    }
    .add_pic {
      @include smallIcon(1.2rem,1.2rem,url("../imgs/add_pic.png"));
      float: left;
    }
  }

  #addition {
    padding: 0.24rem;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0;
    h3 {
      font-size: 0.3rem;
      font-weight: 500;
    }
    textarea {
      resize: none;
      width: 100%;
      height: 2.2rem;
      border: none;
      font-size: 0.24rem;
      padding: 0.2rem;
      font-family: 'Microsoft YaHei';
    }
  }

  #msgSubmit {
    width: 88%;
    line-height: 0.9rem;
    font-size: 0.3rem;
    background-color: $paiRed;
    color: #fff;
    border: none;
    outline: none;
    margin-left: 6%;
    &.submit_eva {
      position: fixed;
      bottom: 0.6rem;
    }
  }

  #grade {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.24rem;
    font-size: 0;
    .title {
      font-size: 0.28rem;
    }
    .chose_grade {
      display: inline-block;
      margin-left: 0.15rem;
      margin-bottom: -0.08rem;
      i {
        margin-right: 0.12rem;
        @include smallIcon(0.28rem,0.26rem,url("../imgs/star_blank.png"));
        &.light {
          @include smallIcon(0.28rem,0.26rem,url("../imgs/star_full.png"));
        }
      }

    }
    .state {
      float: right;
      font-size: 0.28rem;
      color: $paiRed;
    }
  }


  .service_kind {
    background-color: #fff;
    padding: 0.24rem 0.24rem 0.24rem 0.8rem;
    border-bottom: 1px solid #858585;
    position: relative;
    font-size: 0;
    &:last-of-type {
      border-bottom: none;
    }
    .main_icon {
      @include smallIcon(0.4rem,0.4rem,url("../imgs/service_return.png"));
      position: absolute;
      left: 0.24rem;
      top: 0.28rem;
    }
    h6 {
      font-size: 0.3rem;
      font-weight: 500;
    }
    p {
      font-size: 0.24rem;
      color: #858585;
      margin-top: 0.1rem;
    }
    i {
      @include smallIcon(0.14rem,0.22rem,url("../imgs/icon_arrow.png"));
      position: absolute;
      right: 0.24rem;
      top: 0.54rem;
    }
  }
}